body {
    background-color: rgb(235, 234, 234);
}

.newsletter {
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    margin: 50px 25%;
    padding: 10px 3%;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn {
    background-color: rgb(229, 93, 8);
    color: white;
    padding: 2.5% 5%;
    border: none;
    border-radius: 5%;
}

.email {
    padding: 2%;
    width: 35%;
    max-width: 90%;
    margin-bottom: 4%;
}

.email--wrong {
    border: 2px solid red;
}